* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1510px;
  height: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  max-width: 1510px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  margin-bottom: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper_h2 {
  color: #212a2f;
  text-align: center;
  font-size: 30px;
  font-family: "Kaushan Script", sans-serif;
  width: 1170px;
  height: 80px;
  border: 1px;
  margin-left: 168px;
  margin-right: 168px;
  padding-top: 20px;
}
.wrapper_h1 {
  color: #212a2f;
  text-align: center;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  width: 1170px;
  height: 81px;
  margin-right: 170px;
  margin-left: 170px;
  padding-bottom: 40px;
}

hr.wrapper__default {
  background-color: #f38281;
  width: 170px;
  color: #f38281;
  height: 4px;
  align-items: center;
  border: 0;
}
.wrapper__text {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  width: 1170px;
  height: 118px;
  display: flex;
  align-items: center;
  text-align: center;
}
.wrapper__middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.wrapper__middle::before {
  content: "";
  background-color: #95e1d3;
  width: 370px;
  height: 338px;
}
.wrapper__middle__background {
  width: 370px;
  height: 338px;
  position: absolute;
  left: 290px;
  top: 330px;
  z-index: 1;
  background: linear-gradient(
    rgba(243, 130, 129, 0.75),
    rgba(239, 170, 96, 0.779)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper__middle__secondimg {
  margin-left: 30px;
  margin-right: 30px;
}
p {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  margin-top: 30px;
}
.greenmenu {
  background-color: #95e1d3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1510px;
  height: 252px;
  margin-bottom: 60px;
}
.greenbox {
  border: 1px solid #ffffff;
  background: transparent;
  width: 234px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.boxtext {
  font-size: 24px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}
.greentitle {
  font-size: 64px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}
.amazingservices {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  margin-bottom: 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menuservises {
  height: 252px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.firstservis {
  width: 370px;
  height: 139px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.secondservis{
  width: 370px;
  height: 139px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.thirdservis{
  width: 370px;
  height: 139px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.titleicon{
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  text-transform: uppercase;
  color: #2D3033;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  width: 270px;
  text-align: left;
  margin-left: 20px;
}
.servisbottom::before{
  content: "";
  width: 70px;
  height: 70px;
}
.servistext{
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #2D3033;
  width: 270px;
  height: 80px;
  text-align: left;
}

