body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Container */
.container {
  width: 100%;
  max-width: 1304px;
  margin: auto auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  background-image: url(/images/Polosa.png), url(/images/gradienthomepage.png),
    linear-gradient(to bottom, #439ef315 30%, #ffffff 40%);

  -webkit-background-size: cover;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  margin: auto auto;
  margin-top: 180px;
  text-align: center;
  display: grid;
  grid-template-columns: 64% auto;
  grid-template-rows: auto;
}
.first__intro__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
}
.intro__title {
  font-size: 46px;
  font-weight: 700;
  color: #47a7e3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
ol {
  list-style-image: url(/images/forlist.png);
  padding-left: 13px;
}
.intro__subtitle {
  text-align: left;
  font-size: 16px;
  color: #585858;
  margin-bottom: 30px;
  padding-left: 20px;
}

.second__intro__inner {
  align-self: center;
}
.titleimg {
  max-width: 100%;
  height: auto;
}
/* Header */
.header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  display: none;
}
.header__post {
  display: none;
}
.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
@mixin text {
  font-size: 14px;
  color: #585858;
  font-family: "Montserrat", sans-serif;
}
/* Nav */
.nav {
  @include text();
}

.nav__link {
  display: inline-block;
  vertical-align: center;
  margin: 0 14px;
  position: relative;
  color: #585858;
  text-decoration: none;
  transition: color 0.1s linear;
}
.nav__link__select {
  background: transparent;
  @include text();
  border: 0;
  /* убрала стрелку селекта */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
// Убираю стрелку селекта для IE
.nav__link__select::-ms-expand {
  display: none;
}

.select__wrapper {
  position: relative;
}
.select__wrapper::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 65px;
  transform: translateY(-30%);
  display: block;
  width: 9px;
  height: 6px;
  border-style: solid;
  border-width: 0 4.5px 6px 4.5px;
  border-color: transparent transparent #000000 transparent;
  transform: rotate(180deg);
  pointer-events: none;
}
.nav__link__button {
  background: transparent;
  text-transform: uppercase;
  width: 182px;
  height: 31px;
  margin-top: 0%;
  border-radius: 10px;
  border: 2px solid #83bcdc;
  color: #83bcdc;
}
.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #f68738;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;

  transition: opacity 0.1s linear;
}

.nav__link:hover {
  color: #f68738;
}

.nav__link:hover:after,
.nav__link.active:after {
  opacity: 1;
}

.nav__link.active {
  color: #f68738;
}

/* btn */
.btn {
  width: 366px;
  height: 92px;
  padding: 36px, 74px, 36px, 74px;
  border-radius: 25px;
  border: 0;
  background-image: linear-gradient(to bottom, #ffa96b 100%, #ee7a28 100%);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

/* intro__pointer */
.intro__pointer {
  margin-top: 100px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__pointer__text {
  color: #316594;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 15px;
}

.video__background {
  width: 468.02px;
  height: 629.92px;
  border-radius: 8.4px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  margin-left: 220px;
}
.page__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.arrow {
  width: 50.39px;
  height: 50.39px;

  padding: 8.4px, 17.28px, 7.98px, 16.8px;
}
.intro__page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;
}
.video__text {
  width: 46%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h2 {
  font-size: 46px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin: 0%;
  color: #585858;
}
.video__subtitle {
  color: #b5b5b5;
  font-size: 16px;
  margin-bottom: 0;
  width: 100%;
}
p {
  width: 100%;
  height: auto;
}
hr {
  border: 1px solid #d4d4d4;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}
.price {
  margin-left: 80px;
}

/* Intro__form */
.intro__form {
  background-image: url(/images/circle.png);
  background-repeat: no-repeat;
  background-position: right, center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
}
.bigform {
  width: 660px;
  height: 926px;
  padding: 69px, 60px, 70px, 60px;
  border-radius: 25px;
  gap: 10px;
  background-color: #ffffff;
  box-shadow: 0 14px 28px #79797933;
}
.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.frame__subtitle {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: rgba(88, 88, 88, 1);
  text-align: center;
  width: 275px;
  height: 37px;
}
h3 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  color: rgba(71, 167, 227, 1);
  font-weight: 500;
  margin-bottom: 0;
}
.frame__forms {
  display: flex;
  flex-direction: column;
}
.forms__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.info {
  margin-left: 5px;
  font-size: 14px;
  color: rgba(131, 188, 220, 1);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.input__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin input__styles($height) {
  width: 540px;
  height: $height;
  border-radius: 8px;
  border: 1px solid rgba(201, 201, 201, 1);

  margin-bottom: 20px;
  padding-left: 15px;
}
#input__styles {
  @include input__styles(40px);
}
#input__styles__biginput {
  @include input__styles(79px);
}
#input__styles::placeholder {
  font-size: 12px;
  color: rgba(199, 199, 199, 1);
  font-family: "Montserrat", sans-serif;
}
#input__styles__biginput::placeholder {
  font-size: 12px;
  color: rgba(199, 199, 199, 1);
  font-family: "Montserrat", sans-serif;
}
.input__checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}
.checkbox__leveling {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: rgba(88, 88, 88, 1);
}

.checkboxlabel {
  margin-bottom: 15px;
  padding-left: 25px;
  display: block;
}
.custom-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
}
.check-style {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(201, 201, 201, 1);
  border-radius: 3px;
  margin-left: -25px;
  cursor: pointer;
}
.custom-checkbox:checked + .check-style::before {
  content: "\2713";
  color: rgba(237, 108, 33, 1);
  border: 2px solid;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input__button {
  margin-top: 20px;
  width: 395px;
  height: 94px;
  border: 4px solid rgba(71, 167, 227, 1);
  background-color: transparent;
  border-radius: 20px;
  font-size: 16px;
  color: rgba(84, 175, 221, 1);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.checkbox__privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}
/* Intro__news */
.intro__news {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 100px;
}
.news__info {
  width: 455.03px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.news__info__text {
  font-size: 16px;
  color: #585858;
  font-family: "Montserrat", sans-serif;
  width: 396.99px;
  height: 52px;
  margin-top: 0;
}
.news__info__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon__OK {
  margin-left: auto;
  margin-right: 0;
}

/* Intro__services*/
.intro__services {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-between;
}
.intro__services__icon {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.intro__services__icon__style {
  width: 100%;
  height: 244px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 14px 28px #79797933;
}
.intro__services__icon__text {
  font-size: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #585858;
  font-weight: 700;
  margin-top: 10px;
  width: 244px;
  height: 61px;
}
/* Footer*/

.footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  background: url(/images/FooterWaves.png)
    ;

  -webkit-background-size: cover;
  background-size: cover;
}
.lastblock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.consultation{
  margin-top: 190px;
  width: 975px;
height: 428px;
border-radius: 25px;
background-color: white;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.consultation__info{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}
h4{
  width: 90%;
  height: 96px;
  font-size: 28px;
  font-weight: 700;
  color: #47A7E3;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
.consultation__info__text{
  font-size: 16px;
  font-weight: 500;
  color: #585858;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  width: 75%;
height: 78px;
}
.contacts{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 1196px;
height: 320px;
margin-top: 40px;
}
.footer__line{
position: relative;
z-index: 1;
top: 100px;
left: 28px;
width: 1160px;
border: 1px solid #B5DFFF;
}
.contacts__coll{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content:flex-start;
}
h5{
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-align: left;
}
.contacts__coll__subtitle{
  font-size: 12px;
  font-weight: 700;
  color: #B5DFFF;
  font-family: "Montserrat", sans-serif;
  margin-top: 25px;
}
.contacts__coll__text{
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  margin: 3px;
}
.contacts__coll__button{
  background-color: transparent;
  width: 182px;
height: 31px;
padding: 8px, 24px, 8px, 24px;
border-radius: 10px;
border: 2px solid white;
color: white;
}
.contacts__coll__socials{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 122px;
  margin-top: 10px;
}
.contacts__coll__meta{
  width: 170px;
}
.footer__logo{
  position: relative;
  z-index: 7;
  top: -40px;

}
.aside{
  width: 100%;
  height: 66px;
  background: #2F6192;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -75px;
 position: relative;
  z-index: 1000;
}
.aside__autor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.aside__autor__text{
  font-size: 11px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0;
}
@media (min-width: 1024px) and (max-width: 1438px) {
  .intro__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .intro__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .page__row:nth-child(2n + 2) {
    width: 85%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .page__row {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .video__text {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-top: 20px;
  }
  .text__style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    width: 75%;
  }
  .price {
    margin-left: 0;
  }
  .intro__form {
    background-repeat: no-repeat;
    background-position: top, center;
    display: grid;
    grid-template-areas:
      " picphone  "
      " bigform  ";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
  }
  .picphone {
    grid-area: picphone;
  }
  .bigform {
    grid-area: bigform;
  }
  .forms__info {
    width: 343px;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }
  .info {
    margin-left: 5px;
    text-align: left;
    margin-bottom: 15px;
  }
  .news__info {
    width: 100%;
    height: auto;
  }
  .news__img {
    width: 43%;
    height: auto;
  }
  .icon__OK {
    width: 23%;
    height: auto;
  }
  .info__icon__styles {
    width: 30%;
    height: auto;
  }

  .intro__services {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: (repeat(4, 19%));
    grid-template-rows: auto;
  }
  .intro__services__column {
    width: 100%;
    height: auto;
    align-items: center;
  }
  .intro__services__icon {
    width: 100%;
    height: auto;
  }
  .intro__services__icon__style {
    width: 100%;
    height: 175px;
  }
  .intro__services__icon__text {
    font-size: 16px;
    margin-top: 10px;
    width: 85%;
    height: 61px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .nav {
    visibility: hidden;
    display: none;
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
  }
  .header__burger {
    display: block;
  }
  .header__post {
    display: block;
  }
  .header__logo {
    position: relative;
    z-index: 3;
    width: 15%;
  }
  .intro__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .intro__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .page__row:nth-child(2n + 2) {
    width: 85%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .page__row {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .video__text {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-top: 20px;
  }
  .text__style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    width: 75%;
  }
  .price {
    margin-left: 0;
  }
  .intro__form {
    width: 100%;
    background-image: none;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: top, center;
    display: grid;
    grid-template-areas:
      " picphone  "
      " bigform  ";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
  }
  .wrapper__picphone {
    background: url(/images/circle.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .picphone {
    grid-area: picphone;
    width: 90%;
  }
  .bigform {
    grid-area: bigform;
  }
  .forms__info {
    width: 343px;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }
  .info {
    margin-left: 5px;
    text-align: left;
    margin-bottom: 15px;
  }
  .news__info {
    width: 100%;
    height: auto;
  }
  .news__img {
    width: 43%;
    height: auto;
  }
  .icon__OK {
    width: 23%;
    height: auto;
  }
  .info__icon__styles {
    width: 30%;
    height: auto;
  }

  .intro__services {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: (repeat(2, 1fr));
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "icon_1 icon_5"
      "icon_3 icon_4"
      "icon_2 icon_7"
      "icon_6 icon_8";
    justify-content: center;
  }
  .icon_1 {
    grid-area: icon_1;
  }
  .icon_2 {
    grid-area: icon_2;
  }
  .icon_3 {
    grid-area: icon_3;
  }
  .icon_4 {
    grid-area: icon_4;
  }
  .icon_5 {
    grid-area: icon_5;
  }
  .icon_6 {
    grid-area: icon_6;
  }
  .icon_7 {
    grid-area: icon_7;
  }
  .icon_8 {
    grid-area: icon_8;
  }

  .intro__services__icon {
    width: 100%;
    height: 90%;
    padding-bottom: 30px;
  }
  .intro__services__icon__style {
    width: 244px;
    height: 244px;
  }
  .intro__services__icon__text {
    font-size: 16px;
    width: 85%;
    height: 51px;
  }
}

@media (min-width: 365px) and (max-width: 768px) {
  .container {
    margin: auto auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav {
    visibility: hidden;
    display: none;
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
  }
  .header__burger {
    display: block;
  }
  .header__post {
    display: block;
  }
  .header__logo {
    position: relative;
    z-index: 3;
    width: 15%;
  }
  .intro__inner {
    width: 100%;
    margin: auto auto;
    margin-top: 130px;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      " second__intro__inner"
      " first__intro__inner";
  }
  .second__intro__inner {
    grid-area: second__intro__inner;
  }
  .first__intro__inner {
    grid-area: first__intro__inner;
  }
  .titleimg {
    width: 50%;
  }
  .first__intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
  .intro__title {
    font-size: 20px;
    width: 60%;
  }
  .intro__subtitle {
    font-weight: 500;
    text-align: center;
  }
  .btn {
    width: 261px;
    height: 66px;
  }
  .intro__pointer {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .intro__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .page__row:nth-child(2n + 2) {
    width: 85%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .page__row {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .video__background {
    width: 230px;
    height: 307.04px;
  }
  .play__style {
    width: 67px;
    height: 67px;
  }
  .slider {
    margin-left: 110px;
  }
  .video__text {
    width: 75%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-top: 20px;
  }
  .text__style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .text__cost__style {
    width: 130px;
    height: 50px;
  }
  .rub__style {
    width: 18px;
    height: 21px;
  }
  .video__subtitle {
    display: none;
  }
  hr {
    display: none;
  }
  h2 {
    text-align: center;
    font-size: 16px;
  }
  p {
    text-align: center;
    width: 75%;
    margin-top: 0;
  }
  .price {
    margin-left: 0;
  }
  .intro__form {
    width: 100%;
    background-image: none;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: top, center;
    display: grid;
    grid-template-areas:
      " picphone  "
      " bigform  ";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
  }
  .wrapper__picphone {
    background: url(/images/circle.png);
    background-size: cover;
    width: 346.43px;
    height: 335.58px;
  }
  .picphone {
    grid-area: picphone;
    width: 100%;
  }
  .bigform {
    grid-area: bigform;
    width: 343px;
    height: 980px;
  }
  .frame {
    font-size: 28px;
    text-align: center;
  }
  .frame__forms {
    width: 343px;
  }
  .forms__info {
    width: 343px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .info {
    margin-left: 5px;
    font-size: 14px;
    text-align: left;
    margin-bottom: 0;
  }

  @mixin input__styles($height) {
    width: 311px;
    height: $height;
    margin-bottom: 20px;
    padding-left: 15px;
  }
  #input__styles {
    @include input__styles(40px);
  }
  #input__styles__biginput {
    @include input__styles(79px);
  }
  #input__styles::placeholder {
    font-size: 12px;
  }
  #input__styles__biginput::placeholder {
    font-size: 12px;
  }
  .input__checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 20px;
  }

  .checkboxlabel {
    margin-bottom: 15px;
    padding-left: 25px;
    display: block;
    font-size: 10px;
  }
  .custom-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 20px;
  }

  .input__button {
    margin-top: 15px;
    width: 300px;
    height: 60px;
  }

  .checkbox__privacy {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    text-align: center;
  }
  .intro__news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  .icon__OK {
    margin-left: 40px;
  }
  .info__icon__styles {
    width: 40%;
    height: auto;
  }
  .news__img {
    display: none;
  }
  .news__info__text {
    width: 350px;
    height: 52px;
  }

  .intro__services {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: (repeat(2, 1fr));
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "icon_1 icon_5"
      "icon_3 icon_4"
      "icon_2 icon_7"
      "icon_6 icon_8";
    justify-content: center;
    margin-top: 0;
  }
  .icon_1 {
    grid-area: icon_1;
  }
  .icon_2 {
    grid-area: icon_2;
  }
  .icon_3 {
    grid-area: icon_3;
  }
  .icon_4 {
    grid-area: icon_4;
  }
  .icon_5 {
    grid-area: icon_5;
  }
  .icon_6 {
    grid-area: icon_6;
  }
  .icon_7 {
    grid-area: icon_7;
  }
  .icon_8 {
    grid-area: icon_8;
  }
  .intro__pointer__text {
    font-size: 20px;
  }
  .intro__services__icon {
    width: 100%;
    height: 50%;
    padding-bottom: 10px;
  }
  .intro__services__icon__style {
    width: 150px;
    height: 150px;
  }
  .intro__services__icon__text {
    font-size: 12px;
    width: 75%;
    height: 51px;
  }
}
