*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    margin: auto;
    max-width: 1200px;
}
.wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.firstblock{
    text-align: center;
    font-size: 280px;
    color: aliceblue;
   width: 100%;
   height: 273px;
   background-color: orange;
   margin-bottom: 20px;
}
.otherblocks{
    height: 587px;
    display: flex;
    flex-direction: row;
}
.threeblocks{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.secondblock{
    text-align: center;
    font-size: 280px;
    color: aliceblue;
    height: 273px;
    background-color: orange;
    margin-bottom: 20px;
}
.twoblocks{
    width: 100%;
    height: 293px;
    display: flex;
    flex-direction: row;
    
}
.thirdblock{
    text-align: center;
    font-size: 280px;
    color: aliceblue;
    width: 50%;
    background-color: orange;
    margin-right: 10px;
}
.fourthblock{
    text-align: center;
    font-size: 280px;
    color: aliceblue;
    width: 50%;
    background-color: orange; 
    margin-left: 10px;
}
.fiveblock{
    text-align: center;
    font-size: 280px;
    color: aliceblue;
    background-color: orange; 
    width: 20%; 
    margin-left: 20px; 
}
@media (){

}